@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --hero-gradient: linear-gradient(45deg, #3b82f6, #6366f1, #8b5cf6, #3b82f6); */
  --header-bg-light: rgba(243, 232, 255, 0.8); /* Light purple with transparency */
  --header-bg-dark: rgba(31, 41, 55, 0.8); /* Dark gray with transparency */
}

.dark {
  --hero-gradient: linear-gradient(45deg, #1e3a8a, #3730a3, #5b21b6, #1e3a8a);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-white;
  }
}


@layer utilities {
  .animation-delay-200 {
    animation-delay: 200ms;
  }
  .animation-delay-400 {
    animation-delay: 400ms;
  }
}
